"""
    Google Maps Platform

    API Specification for Google Maps Platform  # noqa: E501

    The version of the OpenAPI document: 1.17.2
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from worldpop_client.api_client import ApiClient, Endpoint as _Endpoint
from worldpop_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from worldpop_client.model.stats_response import StatsResponse


class ServicesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.services_stats_get_endpoint = _Endpoint(
            settings={
                'response_type': (StatsResponse,),
                'auth': [],
                'endpoint_path': '/services/stats',
                'operation_id': 'services_stats_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dataset',
                    'year',
                    'geojson',
                    'key',
                ],
                'required': [
                    'dataset',
                    'year',
                    'geojson',
                ],
                'nullable': [
                ],
                'enum': [
                    'dataset',
                ],
                'validation': [
                    'year',
                ]
            },
            root_map={
                'validations': {
                    ('year',): {

                        'inclusive_minimum': 2010,
                    },
                },
                'allowed_values': {
                    ('dataset',): {

                        "WPGPPOP": "wpgppop",
                        "WPGPAS": "wpgpas"
                    },
                },
                'openapi_types': {
                    'dataset':
                        (str,),
                    'year':
                        (int,),
                    'geojson':
                        (str,),
                    'key':
                        (str,),
                },
                'attribute_map': {
                    'dataset': 'dataset',
                    'year': 'year',
                    'geojson': 'geojson',
                    'key': 'key',
                },
                'location_map': {
                    'dataset': 'query',
                    'year': 'query',
                    'geojson': 'query',
                    'key': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def services_stats_get(
        self,
        dataset,
        year,
        geojson,
        **kwargs
    ):
        """services_stats_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.services_stats_get(dataset, year, geojson, async_req=True)
        >>> result = thread.get()

        Args:
            dataset (str):
            year (int):
            geojson (str):

        Keyword Args:
            key (str): [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            StatsResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['dataset'] = \
            dataset
        kwargs['year'] = \
            year
        kwargs['geojson'] = \
            geojson
        return self.services_stats_get_endpoint.call_with_http_info(**kwargs)

