{
  "grantRequestG1": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    }
  },
  "sasTestHarnessDumpRecords": {
    "cbsdRecords": [
      {
        "grants": [
          {
            "terminated": false,
            "requestedOperationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3620000000,
                "highFrequency": 3630000000
              }
            },
            "channelType": "GAA",
            "operationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3620000000,
                "highFrequency": 3630000000
              }
            },
            "id": "SAMPLE_ID_22957",
            "grantExpireTime": "2020-03-07T15:58:23Z"
          }
        ],
        "id": "cbsd/cbsd/test_fcc_id_a/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
        "registration": {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "heightType": "AGL",
            "longitude": -98.4842,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "latitude": 39.0119,
            "height": 9.3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_a",
          "callSign": "callsign_a",
          "cbsdCategory": "A"
        }
      }
    ]
  },
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "longitude": -97.770094,
          "antennaGain": 16,
          "indoorDeployment": false,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "latitude": 39.139836,
          "height": 7.6
        },
        "measCapability": [],
        "fccId": "test_fcc_id_b",
        "cbsdSerialNumber": "test_serial_number_b",
        "cbsdCategory": "B"
      }
    ]
  },
  "grantRequestG2": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    }
  },
  "sasTestHarnessConfig": {
    "serverCert": "certs/server.cert",
    "hostName": "localhost",
    "sasTestHarnessName": "SAS-Test-Harness-1",
    "serverKey": "certs/server.key",
    "caCert": "certs/ca.cert",
    "port": 9001
  },
  "registrationRequestC2": {
    "fccId": "test_fcc_id_b",
    "userId": "test_user_id_b",
    "cbsdSerialNumber": "test_serial_number_b",
    "callSign": "callsign_b"
  },
  "registrationRequestC1": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -98.4842,
      "antennaGain": 16,
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "height": 9.3
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A"
  }
}