{
  "certificateHash": "will provide in the future",
  "device_c": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AMSL",
      "longitude": -97.198805,
      "antennaGain": -127,
      "indoorDeployment": false,
      "antennaBeamwidth": 0,
      "latitude": 38.815291,
      "height": 4.5
    },
    "measCapability": [],
    "fccId": "test_fcc_id_c",
    "userId": "test_user_id_c",
    "cbsdSerialNumber": "test_serial_number_c",
    "callSign": "callsign_c",
    "cbsdCategory": "A"
  },
  "device_a": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -98.4842,
      "antennaGain": 16,
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "height": 9.3
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A"
  },
  "url": "localhost:9001",
  "grant_c": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    "cbsdId": "test_user_id_c"
  },
  "grant_a_SAS_UUT": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    "cbsdId": "test_user_id_a"
  },
  "grant_a_SAS_TH": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    },
    "cbsdId": "test_user_id_a"
  }
}