{
  "palRecord0": {
    "license": {
      "licenseAreaExtent": "zone/census_tract/census/2010/123456789",
      "licenseFrequencyChannelId": "1",
      "licenseId": "fccId123456789-1",
      "licenseDate": "2017-07-01T00:00:00Z",
      "licenseAreaIdentifier": "Census Tract 123456789, Long Name",
      "licenseExpiration": "2020-07-01T00:00:00Z"
    },
    "userId": "cbsdOp1",
    "registrationInformation": {
      "frn": "123456-789",
      "registrationDate": "2017-06-01"
    },
    "licensee": "CBSD Operator No.1",
    "channelAssignment": {
      "primaryAssignment": {
        "lowFrequency": 3550000000,
        "highFrequency": 3560000000
      },
      "secondaryAssignment": {
        "lowFrequency": 3580000000,
        "highFrequency": 3590000000
      }
    },
    "licenseStatus": "VALID",
    "palId": "pal/10-2017/123456789/A"
  },
  "palRecord1": {
    "censusYear": 2010,
    "license": {
      "licenseId": "test_fcc_id_pal_1"
    },
    "registrationInformation": {
      "callSign": "call_sign_pal_1",
      "frn": "test_fcc_frn_pal_1",
      "licenseConditions": "license_pal_1"
    },
    "licensee": "CBSD Operator No.1",
    "licenseStatus": "VALID",
    "fipsCode": 20063955100
  },
  "conditionalRegistrationData": {
    "registrationData": {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 270,
        "heightType": "AGL",
        "longitude": -97.770094,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 30,
        "antennaDowntilt": -90,
        "latitude": 39.139836,
        "height": 7.6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    }
  },
  "fakeDatabaseInfo": {
    "url": "http://localhost:9090/fakedatabase/pal",
    "name": "Fake_DB",
    "databaseFile": "fakedatabase/pal/pal_db.json"
  },
  "registrationRequestC2": {
    "measCapability": [],
    "fccId": "test_fcc_id_b",
    "userId": "CBSD Operator No.1",
    "cbsdSerialNumber": "test_serial_number_b",
    "callSign": "callsign_b"
  },
  "registrationRequestC1": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -98.4842,
      "antennaGain": 16,
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "height": 9.3
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "userId": "CBSD Operator No.1",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A"
  }
}