{
  "fccIds": [
    [
      "test_fcc_id_c",
      47
    ]
  ],
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -97.198805,
        "antennaGain": -127,
        "indoorDeployment": false,
        "antennaBeamwidth": 0,
        "latitude": 38.815291,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    }
  ],
  "userIds": [
    "test_user_id_c"
  ],
  "expectedResponseCodes": [
    0,
    103
  ],
  "fcc_id_db": {
    "url": "https://github.com/Wireless-Innovation-Forum/FCC-ID-DB",
    "type": "FCC_ID"
  }
}