{
  "Issuer": "WInnForum RSA SAS CA-1",
  "Subject": "localhost",
  "countryName":"US",
  "stateOrProvinceName": "District of Columbia",
  "localityName": "Washington",
  "organizationName":"Wireless Innovation Forum",
  "organizationalUnitName":"www.wirelessinnovation.org",
  "commonName" :"localhost"
}

