{
  "fccIdsBlacklist": [
    "test_fcc_id_a"
  ],
  "registrationRequest": [
    {
      "measCapability": [],
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_a",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "installationParam": {
        "indoorDeployment": true,
        "heightType": "AGL",
        "antennaGain": 16,
        "latitude": 39.0119,
        "longitude": -98.4842,
        "antennaBeamwidth": 30,
        "height": 9.3
      },
      "callSign": "callsign_a"
    },
    {
      "measCapability": [],
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_c",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "installationParam": {
        "indoorDeployment": false,
        "heightType": "AMSL",
        "antennaGain": -127,
        "latitude": 38.815291,
        "longitude": -97.198805,
        "antennaBeamwidth": 0,
        "height": 4.5
      },
      "callSign": "callsign_c"
    },
    {
      "measCapability": [],
      "cbsdCategory": "B",
      "fccId": "test_fcc_id_b",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "callSign": "callsign_b"
    }
  ],
  "grantRequest": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "fccId": "test_fcc_id_b",
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaDowntilt": -90,
          "indoorDeployment": false,
          "heightType": "AGL",
          "antennaGain": 16,
          "antennaAzimuth": 270,
          "latitude": 39.139836,
          "longitude": -97.770094,
          "antennaBeamwidth": 30,
          "height": 7.6
        },
        "cbsdSerialNumber": "test_serial_number_b",
        "cbsdCategory": "B"
      }
    ]
  },
  "expectedResponseCodes": [
    [
      101
    ],
    [
      102
    ],
    [
      0
    ]
  ],
  "heartbeatRequest": [
    {
      "operationState": "GRANTED"
    },
    {
      "grantId": "REMOVE",
      "operationState": "GRANTED"
    },
    {
      "grantRenew": true,
      "operationState": "GRANTED"
    }
  ]
}