{
  "expectedResponseCodes": [
    [
      101
    ],
    [
      102
    ],
    [
      0
    ]
  ],
  "registrationRequests": [
    {
      "installationParam": {
        "heightType": "AGL",
        "antennaBeamwidth": 30,
        "antennaGain": 16,
        "height": 9.3,
        "longitude": -98.4842,
        "latitude": 39.0119,
        "indoorDeployment": true
      },
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "userId": "test_user_id_a",
      "callSign": "callsign_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_a",
      "measCapability": []
    },
    {
      "installationParam": {
        "heightType": "AMSL",
        "antennaBeamwidth": 0,
        "antennaGain": -127,
        "height": 4.5,
        "longitude": -97.198805,
        "latitude": 38.815291,
        "indoorDeployment": false
      },
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "userId": "test_user_id_c",
      "callSign": "callsign_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_c",
      "measCapability": []
    },
    {
      "userId": "test_user_id_b",
      "callSign": "callsign_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "fccId": "test_fcc_id_b",
      "measCapability": []
    }
  ],
  "fccIdsBlacklist": [
    "test_fcc_id_a"
  ],
  "grantRequests": [
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    },
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    },
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    }
  ],
  "heartbeatRequests": [
    {
      "operationState": "GRANTED"
    },
    {
      "grantId": "REMOVE",
      "operationState": "GRANTED"
    },
    {
      "operationState": "GRANTED",
      "grantRenew": true
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "antennaBeamwidth": 30,
          "antennaGain": 16,
          "height": 7.6,
          "antennaDowntilt": -90,
          "longitude": -97.770094,
          "latitude": 39.139836,
          "indoorDeployment": false
        },
        "cbsdSerialNumber": "test_serial_number_b",
        "cbsdCategory": "B",
        "fccId": "test_fcc_id_b",
        "airInterface": {
          "radioTechnology": "E_UTRA"
        }
      }
    ]
  }
}
