{
  "sasTestHarnessConfigDumpRecords": {
    "escSensorRecord": [
      {
        "installationParam": {
          "antennaAzimuth": 271,
          "heightType": "AGL",
          "longitude": -98.4842,
          "antennaGain": 16,
          "antennaBeamwidth": 30,
          "latitude": 39.0119,
          "height": 9.3
        },
        "id": "esc_sensor/admin_0/esc_sensor_0"
      }
    ],
    "cbsdRecords": [
      {
        "grants": [
          {
            "terminated": false,
            "channelType": "GAA",
            "operationParam": {
              "maxEirp": 20,
              "operationFrequencyRange": {
                "lowFrequency": 3620000000,
                "highFrequency": 3630000000
              }
            },
            "id": "SAMPLE_ID_69132",
            "grantExpireTime": "2018-03-01T22:30:04Z"
          }
        ],
        "id": "cbsd/test_fcc_id_a/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
        "registration": {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "heightType": "AGL",
            "longitude": -98.39746379198182,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "latitude": 39.12888050813927,
            "height": 9.3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_a",
          "userId": "test_user_id_a",
          "callSign": "callsign_a",
          "cbsdCategory": "A"
        }
      },
      {
        "grants": [
          {
            "terminated": false,
            "channelType": "GAA",
            "operationParam": {
              "maxEirp": 20,
              "operationFrequencyRange": {
                "lowFrequency": 3550000000,
                "highFrequency": 3555000000
              }
            },
            "id": "SAMPLE_ID_03586",
            "grantExpireTime": "2018-03-01T22:30:04Z"
          }
        ],
        "id": "cbsd/test_fcc_id_c/33c81df2998eb5d587cea7dede0d35d034e79bcd",
        "registration": {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "heightType": "AMSL",
            "longitude": -97.19771681287628,
            "antennaGain": -127,
            "indoorDeployment": false,
            "antennaBeamwidth": 0,
            "latitude": 38.84267082679355,
            "height": 4.5
          },
          "measCapability": [],
          "fccId": "test_fcc_id_c",
          "userId": "test_user_id_c",
          "callSign": "callsign_c",
          "cbsdCategory": "A"
        }
      }
    ],
    "ppaRecord": [
      {
        "terminated": false,
        "name": "PPA Zone 0",
        "zone": {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -97.23861694335938,
                      38.865374851611634
                    ],
                    [
                      -97.31964111328125,
                      38.7615795117574
                    ],
                    [
                      -97.16995239257811,
                      38.739088441876866
                    ],
                    [
                      -97.16171264648436,
                      38.86751337001198
                    ],
                    [
                      -97.23861694335938,
                      38.865374851611634
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {}
            }
          ]
        },
        "creator": "admin_0",
        "ppaInfo": {
          "ppaRegionType": "URBAN",
          "ppaExpirationDate": "2019-02-28T22:30:04Z",
          "ppaBeginDate": "2017-02-28T22:30:04Z",
          "palId": [
            "pal/02-2017/20041084200/1"
          ],
          "cbsdReferenceId": [
            "cbsdId-1",
            "cbsdId-2"
          ]
        },
        "usage": "PPA",
        "id": "zone/ppa/admin_0/pal/02-2017/20041084200/1/53ba3cea93a948719e072d93d887baad"
      }
    ]
  },
  "grantRequestG2": {
    "operationParam": {
      "maxEirp": 30,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    }
  },
  "sasTestHarnessConfig": {
    "serverCert": "certs/server.cert",
    "sasVersion": "v1.2",
    "hostName": "localhost",
    "sasTestHarnessName": "SAS-TH-1",
    "serverKey": "certs/server.key",
    "caCert": "certs/ca.cert",
    "port": 9001
  },
  "registrationRequestC4": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -97.19249280230906,
      "antennaGain": 90,
      "indoorDeployment": true,
      "antennaBeamwidth": 60,
      "latitude": 38.887422342101075,
      "height": 3.4
    },
    "measCapability": [],
    "fccId": "test_fcc_id_f",
    "userId": "test_user_id_f",
    "cbsdSerialNumber": "test_serial_number_f",
    "callSign": "callsign_f",
    "cbsdCategory": "A"
  },
  "registrationRequestC2": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -98.3684879634231,
      "antennaGain": 93,
      "indoorDeployment": true,
      "antennaBeamwidth": 20,
      "latitude": 39.16785912227893,
      "height": 2.6
    },
    "measCapability": [],
    "fccId": "test_fcc_id_e",
    "userId": "test_user_id_e",
    "cbsdSerialNumber": "test_serial_number_e",
    "callSign": "callsign_e",
    "cbsdCategory": "A"
  },
  "grantRequestG4": {
    "operationParam": {
      "maxEirp": 20,
      "operationFrequencyRange": {
        "lowFrequency": 3555000000,
        "highFrequency": 3560000000
      }
    }
  }
}