{
  "sas_testharness_url" : "localhost:9001",
  "ca_cart": "ca_cart",
  "certificateHash": "will provide in the future",
  "grant" : {
    "maxEirp" : 20
  },
  "device_c" : {
    "latitude" : 38.7790,
    "longitude" : -97.2263
  },
   "device_d" : {
    "latitude" : 38.7790,
    "longitude" : -97.227
  },
  "dump_config_cbsd_1" : {
      "checksum" : "SHA-1",
      "size" : 1000,
      "version" : "v1.0"
  },
  "dump_config_cbsd_2" : {
      "checksum" : "SHA-1",
      "size" : 1000,
      "version" : "v1.0"
  },
  "dump_config_ppa" : {
    "checksum" : "SHA-1",
    "size" : 1000,
    "version" : "v1.0"
  },
  "dump_config_esc" : {
    "checksum" : "SHA-1",
    "size" : 1000,
    "version" : "v1.0"
  }

}