[
  {
    "reliabilityLevel": -1,
    "fss": {
      "rxAntennaGainRequired": true,
      "antennaAzimuth": 270,
      "antennaElevation": 90,
      "antennaGain": 16,
      "longitude": -100.1,
      "latitude": 39.2291,
      "height": 7.6
    },
    "cbsd": {
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "antennaAzimuth": null,
      "heightType": "AGL",
      "antennaGain": 16,
      "longitude": -98.4842,
      "height": 9.3
    }
  },
  {
    "reliabilityLevel": -1,
    "ppa": {
      "geometry": {
        "type": "Polygon",
        "coordinates": [
          [
            [
              -98.6499107,
              39.29889362
            ],
            [
              -98.65000763,
              39.29886132
            ],
            [
              -98.65004601,
              39.29886895
            ],
            [
              -98.65006581,
              39.29887769
            ],
            [
              -98.65013637,
              39.29897368
            ],
            [
              -98.65013712,
              39.29897792
            ],
            [
              -98.65013779,
              39.29898255
            ],
            [
              -98.65013826,
              39.2990132
            ],
            [
              -98.65010891,
              39.29908619
            ],
            [
              -98.65008001,
              39.29911353
            ],
            [
              -98.64995052,
              39.29912978
            ],
            [
              -98.64991836,
              39.29911236
            ],
            [
              -98.64991071,
              39.29910639
            ],
            [
              -98.64988455,
              39.29907721
            ],
            [
              -98.6499107,
              39.29889362
            ]
          ]
        ]
      },
      "type": "Feature",
      "properties": {}
    },
    "cbsd": {
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "antennaAzimuth": null,
      "heightType": "AGL",
      "antennaGain": 16,
      "longitude": -98.4842,
      "height": 9.3
    }
  }
]