{
    "0": {
        "reliabilityLevel": -1,
        "fss": {
            "rxAntennaGainRequired": true,
            "antennaAzimuth": 270,
            "longitude": -100.1,
            "antennaGain": 16,
            "antennaDowntilt": -90,
            "latitude": 39.2291,
            "height": 7.6
        },
        "cbsd": {
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "cbsdCategory": "A",
            "latitude": 39.0119,
            "antennaAzimuth": null,
            "heightType": "AGL",
            "antennaGain": 16,
            "longitude": -98.4842,
            "height": 9.3
        }
    },
    "1": {
        "reliabilityLevel": -1,
        "ppa": {
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        -98.45875084,
                        39.3268772
                    ],
                    [
                        -98.45881465,
                        39.3267931
                    ],
                    [
                        -98.45890886,
                        39.3267376
                    ],
                    [
                        -98.45908636,
                        39.32673599
                    ],
                    [
                        -98.45912693,
                        39.32675291
                    ],
                    [
                        -98.45921706,
                        39.32682666
                    ],
                    [
                        -98.45927628,
                        39.3270288
                    ],
                    [
                        -98.4592583,
                        39.32710218
                    ],
                    [
                        -98.45921043,
                        39.32718134
                    ],
                    [
                        -98.45890532,
                        39.32726115
                    ],
                    [
                        -98.45890089,
                        39.3272595
                    ],
                    [
                        -98.45875499,
                        39.32713089
                    ],
                    [
                        -98.45872472,
                        39.32703718
                    ],
                    [
                        -98.45875084,
                        39.3268772
                    ]
                ]
            },
            "type": "Feature",
            "properties": {}
        },
        "cbsd": {
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "cbsdCategory": "A",
            "latitude": 39.0119,
            "antennaAzimuth": null,
            "heightType": "AGL",
            "antennaGain": 16,
            "longitude": -98.4842,
            "height": 9.3
        }
    }
}