####################################################################
#OpenSSL Configuration file for WInnForum CA					   #
#v0.2
#============
#   Copyright 2016 SAS Project Authors. All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#=============															   #
####################################################################


####################################################################
#Defining OIDS registered by The Wireless Innovation Forum

oid_section		= new_oids

[ new_oids ]
ROLE_SAS=1.3.6.1.4.1.46609.1.1.1
ROLE_INSTALLER=1.3.6.1.4.1.46609.1.1.2
ROLE_CBSD=1.3.6.1.4.1.46609.1.1.3
ROLE_OPERATOR=1.3.6.1.4.1.46609.1.1.4
ROLE_CA=1.3.6.1.4.1.46609.1.1.5
ROLE_PAL=1.3.6.1.4.1.46609.1.1.6

ZONE=1.3.6.1.4.1.46609.1.2
FREQUENCY=1.3.6.1.4.1.46609.1.3
TEST=1.3.6.1.4.1.46609.1.999
FRN=1.3.6.1.4.1.46609.1.6
####################################################################
[ ca ]
default_ca	= CA_default		# The default ca section
####################################################################
[ CA_default ]
dir               	= ./root
certs             	= $dir/certs
crl_dir           	= $dir/crl
new_certs_dir     	= .
database          	= index.txt
serial            	= $dir/serial
RANDFILE          	= $dir/private/.rand

# For certificate revocation lists.
#crlnumber         	= $dir/crlnumber
#crl               	= $dir/crl/ca.crl.pem
#crl_extensions    	= crl_ext
#default_crl_days  	= 30

default_md        	= sha384

name_opt          	= ca_default
cert_opt          	= ca_default
default_days      	= 1095
preserve          	= no
policy            	= policy_match

# Extension copying option: use with caution.
# This can be commented in for testing, but don't use this with a production system.
# It shouldn't be necessary if using the scripts on WInnForum's GitHub repo
# copy_extensions = copy

# For the CA policy
[ policy_match ]
countryName				= match
stateOrProvinceName		= match
localityName			= optional
organizationName		= match
organizationalUnitName	= optional
commonName				= supplied

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object' types.
[ policy_anything ]
countryName				= optional
stateOrProvinceName		= optional
localityName			= optional
organizationName		= optional
organizationalUnitName	= optional
commonName				= supplied

####################################################################
[ req ]
default_bits			= 2048
distinguished_name		= req_distinguished_name
x509_extensions			= v3_ca	
string_mask 			= utf8only
default_md				= sha384

#req_extensions = v3_ca # The extensions to add to a certificate request

[ req_distinguished_name ]

#values
countryName					= Country Name (2 letter code)
stateOrProvinceName			= State or Province Name (full name)
localityName				= Locality Name (eg, city)
0.organizationName			= Organization Name (eg, company)
organizationalUnitName		= Organizational Unit Name (eg, section)
commonName					= Common Name

#min and max
countryName_min				= 2
countryName_max				= 2
commonName_max				= 64

#defaults
countryName_default				= US
stateOrProvinceName_default		= Washington, D.C.
localityName_default 			= Washington, D.C.
0.organizationName_default		= Wireless Innovation Forum
organizationalUnitName_default	= www.wirelessinnovation.org

[ v3_ca ]

subjectKeyIdentifier			= hash
basicConstraints 				= critical, CA:true
keyUsage 						= critical, digitalSignature, cRLSign, keyCertSign

####################################################################
#Not used yet
[ crl_section ]

URI.0 = http://crl3.digicert.com/WInnForumCA.crl
URI.1 = http://crl4.digicert.com/WInnForumCA.crl

####################################################################
#Not used yet
[ ocsp_section ] 

caIssuers;URI.0 = http://cacerts.digicert.com/WinnForumCA.crt
OCSP;URI.0 = http://ocsp.digicert.com

####################################################################
[ root_ca ]

subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer
basicConstraints 		= critical, CA:true
keyUsage 				= critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ sas_ca ]

subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_SAS

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ sas_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_SAS

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ oper_ca ]

subjectKeyIdentifier = hash
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_OPERATOR

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ oper_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_OPERATOR

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ pi_ca ]

subjectKeyIdentifier = hash
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_INSTALLER

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ pi_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_INSTALLER

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ pal_ca ]

subjectKeyIdentifier = hash
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_PAL

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ pal_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_PAL

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ cbsd_ca ]

subjectKeyIdentifier = hash
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_CBSD

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ cbsd_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_CBSD

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ cbsd_oem_ca ]

subjectKeyIdentifier = hash
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_CBSD

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ cbsd_oem_ca_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
certificatePolicies=@cps,ROLE_CA,ROLE_CBSD

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

 
####################################################################
[ sas_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_SAS

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"
 
[ sas_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_SAS,FRN

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ oper_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
certificatePolicies=@cps,ROLE_OPERATOR

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ oper_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
certificatePolicies=@cps,ROLE_OPERATOR

[ oper_req_inapplicable_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
certificatePolicies=@cps,ROLE_OPERATOR,ZONE



[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ pi_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_INSTALLER

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ pi_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_INSTALLER

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
[ pal_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_PAL
#ZONE = ASN1:UTF8String:
#FREQUENCY = 
#STARTDATETIME = 

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ pal_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_PAL
#ZONE = ASN1:UTF8String:
#FREQUENCY = 
#STARTDATETIME = 

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"
 
####################################################################
[ cbsd_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
certificatePolicies=@cps,ROLE_CBSD
#FCCID
#CBSDID
#SERIAL
#CATEGORY

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ cbsd_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
certificatePolicies=@cps,ROLE_CBSD
#FCCID
#CBSDID
#SERIAL
#CATEGORY

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

####################################################################
 
[ cbsd_oem_req ]

subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
certificatePolicies=@cps,ROLE_CBSD
#FCCID
#CBSDID
#SERIAL
#CATEGORY

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"

[ cbsd_oem_req_sign ]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
certificatePolicies=@cps,ROLE_CBSD
#FCCID
#CBSDID
#SERIAL
#CATEGORY

[ cps ]

policyIdentifier = 2.16.840.1.114412.2.1
 CPS.1="https://www.digicert.com/CPS"
 
####################################################################
[ crl_ext ]

authorityKeyIdentifier=keyid:always

####################################################################
[ ocsp ]

basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, OCSPSigning

####################################################################
# Probably won't be used
[ tsa ]

default_tsa = tsa_config1	# the default TSA section

[ tsa_config ]

# These are used by the TSA reply generation only.
dir		= ./demoCA		# TSA root directory
serial		= $dir/tsaserial	# The current serial number (mandatory)
crypto_device	= builtin		# OpenSSL engine to use for signing
signer_cert	= $dir/tsacert.pem 	# The TSA signing certificate
					# (optional)
certs		= $dir/cacert.pem	# Certificate chain to include in reply
					# (optional)
signer_key	= $dir/private/tsakey.pem # The TSA private key (optional)

default_policy	= tsa_policy1		# Policy if request did not specify it
					# (optional)
other_policies	= tsa_policy2, tsa_policy3	# acceptable policies (optional)
digests		= md5, sha1		# Acceptable message digests (mandatory)
accuracy	= secs:1, millisecs:500, microsecs:100	# (optional)
clock_precision_digits  = 0	# number of digits after dot. (optional)
ordering		= yes	# Is ordering defined for timestamps?
				# (optional, default: no)
tsa_name		= yes	# Must the TSA name be included in the reply?
				# (optional, default: no)
ess_cert_id_chain	= no	# Must the ESS cert id chain be included?
				# (optional, default: no)
