{
  "fccIds": [
    [
      "test_fcc_id_a",
      47
    ],
    [
      "test_fcc_id_c",
      47
    ],
    [
      "test_fcc_id_b",
      47
    ],
    [
      "test_fcc_id_d",
      47
    ]
  ],
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -98.4842,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 39.0119,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -97.198805,
        "antennaGain": -127,
        "antennaBeamwidth": 0,
        "latitude": 38.815291,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 270,
        "heightType": "AGL",
        "longitude": -97.770094,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 30,
        "antennaDowntilt": -90,
        "latitude": 39.139836,
        "height": 7.6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "callSign": "callsign_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 90,
        "heightType": "AGL",
        "longitude": -99.022535,
        "antennaGain": -30,
        "indoorDeployment": false,
        "antennaDowntilt": -45,
        "latitude": 39.190944,
        "height": 8.9
      },
      "measCapability": [],
      "fccId": "test_fcc_id_d",
      "userId": "test_user_id_d",
      "cbsdSerialNumber": "test_serial_number_d",
      "callSign": "callsign_d",
      "cbsdCategory": "B"
    }
  ],
  "userIds": [
    "test_user_id_a",
    "test_user_id_c",
    "test_user_id_b",
    "test_user_id_d"
  ],
  "expectedResponseCodes": [
    [
      0
    ],
    [
      200
    ],
    [
      103
    ],
    [
      103
    ]
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "installationParam": {
          "antennaAzimuth": 90,
          "heightType": "AGL",
          "longitude": -99.022535,
          "antennaGain": -30,
          "indoorDeployment": false,
          "antennaDowntilt": -45,
          "latitude": 39.190944,
          "height": 8.9
        },
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "fccId": "test_fcc_id_d",
        "cbsdSerialNumber": "test_serial_number_d",
        "cbsdCategory": "B"
      }
    ]
  }
}
