{
  "userIds": [
    "test_user_id_a_exz",
    "test_user_id_b_exz",
    "test_user_id_c_exz"
  ],
  "expectedResponseCodes": [
    [
      0
    ],
    [
      0
    ],
    [
      0
    ]
  ],
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -96.25122,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 40.31304,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a_exz",
      "userId": "test_user_id_a_exz",
      "cbsdSerialNumber": "test_serial_number_a_exz",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 270,
        "heightType": "AGL",
        "longitude": -96.427,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 30,
        "antennaDowntilt": -90,
        "latitude": 39.6945,
        "height": 7.6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b_exz",
      "userId": "test_user_id_b_exz",
      "cbsdSerialNumber": "test_serial_number_b_exz",
      "callSign": "callsign_b",
      "cbsdCategory": "B"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -96.24692,
        "antennaGain": -127,
        "indoorDeployment": false,
        "antennaBeamwidth": 0,
        "latitude": 39.96317,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c_exz",
      "userId": "test_user_id_c_exz",
      "cbsdSerialNumber": "test_serial_number_c_exz",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    }
  ],
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3625000000.0,
          "highFrequency": 3635000000.0
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3625000000.0,
          "highFrequency": 3635000000.0
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3625000000.0,
          "highFrequency": 3635000000.0
        }
      }
    }
  ],
  "fccIds": [
    [
      "test_fcc_id_a_exz",
      47
    ],
    [
      "test_fcc_id_b_exz",
      47
    ],
    [
      "test_fcc_id_c_exz",
      47
    ]
  ],
  "expectedGrantResponseCodes": [
    [
      0
    ],
    [
      400
    ],
    [
      400
    ]
  ]
}