{
  "exclusionZoneRecords": [
    {
      "exclusionZone": {
        "type": "FeatureCollection",
        "features": [
          {
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -96.9296265,
                    39.8380682
                  ],
                  [
                    -97.0834351,
                    39.4828454
                  ],
                  [
                    -95.8364868,
                    39.542176
                  ],
                  [
                    -96.0617065,
                    39.9518589
                  ],
                  [
                    -96.4901733,
                    39.9771201
                  ],
                  [
                    -96.9296265,
                    39.8380682
                  ]
                ]
              ]
            },
            "type": "Feature",
            "properties": {}
          }
        ]
      },
      "frequencyRanges": [
        {
          "lowFrequency": 3550000000,
          "highFrequency": 3600000000
        },
        {
          "lowFrequency": 3600000000,
          "highFrequency": 3650000000
        }
      ]
    },
    {
      "exclusionZone": {
        "type": "FeatureCollection",
        "features": [
          {
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -100.9296266,
                    42.8380682
                  ],
                  [
                    -101.0834351,
                    42.4828454
                  ],
                  [
                    -99.8364868,
                    42.542176
                  ],
                  [
                    -100.0617065,
                    42.9518589
                  ],
                  [
                    -100.4901733,
                    42.9771201
                  ],
                  [
                    -100.9296266,
                    42.8380682
                  ]
                ]
              ]
            },
            "type": "Feature",
            "properties": {}
          }
        ]
      },
      "frequencyRanges": [
        {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        },
        {
          "lowFrequency": 3660000000,
          "highFrequency": 3670000000
        }
      ]
    }
  ],
  "registrationRequestsN4": [
    {
      "measCapability": [],
      "fccId": "test_fcc_id_bbb",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_bbb",
      "callSign": "callsign_b"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -100.74354,
        "antennaGain": -127,
        "indoorDeployment": false,
        "antennaBeamwidth": 0,
        "latitude": 42.89723,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_ccc",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_ccc",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "longitude": -99.8767,
          "antennaGain": 16,
          "indoorDeployment": false,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "latitude": 42.42548,
          "height": 7.6
        },
        "measCapability": [],
        "fccId": "test_fcc_id_b",
        "cbsdSerialNumber": "test_serial_number_b",
        "cbsdCategory": "B"
      },
      {
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "longitude": -100.79956,
          "antennaGain": 16,
          "indoorDeployment": false,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "latitude": 42.65012,
          "height": 7.6
        },
        "measCapability": [],
        "fccId": "test_fcc_id_bb",
        "cbsdSerialNumber": "test_serial_number_bb",
        "cbsdCategory": "B"
      },
      {
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "longitude": -96.68082,
          "antennaGain": 16,
          "indoorDeployment": false,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "latitude": 39.91706,
          "height": 7.6
        },
        "measCapability": [],
        "fccId": "test_fcc_id_bbb",
        "cbsdSerialNumber": "test_serial_number_bbb",
        "cbsdCategory": "B"
      }
    ]
  },
  "registrationRequestsN3": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -96.63024,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 39.66068,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_aa",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_aa",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    },
    {
      "measCapability": [],
      "fccId": "test_fcc_id_bb",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_bb",
      "callSign": "callsign_b"
    }
  ],
  "registrationRequestsN2": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -100.93139,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 42.37477,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    },
    {
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "callSign": "callsign_b"
    }
  ],
  "grantRequestsN4": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    }
  ],
  "grantRequestsN3": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3550000000,
          "highFrequency": 3560000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    }
  ],
  "grantRequestsN2": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3650000000,
          "highFrequency": 3660000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3660000000,
          "highFrequency": 3670000000
        }
      }
    }
  ]
}