{
  "grantRequests": [
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    },
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    },
    {
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    }
  ],
  "relinquishmentRequestsFirst": [
    {
      "cbsdId": 0,
      "grantId": 0
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "cbsdCategory": "B",
        "cbsdSerialNumber": "test_serial_number_b",
        "installationParam": {
          "antennaGain": 16,
          "antennaBeamwidth": 30,
          "longitude": -97.770094,
          "antennaDowntilt": -90,
          "antennaAzimuth": 270,
          "height": 7.6,
          "heightType": "AGL",
          "latitude": 39.139836,
          "indoorDeployment": false
        },
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "fccId": "test_fcc_id_b"
      }
    ]
  },
  "registrationRequests": [
    {
      "cbsdSerialNumber": "test_serial_number_a",
      "installationParam": {
        "antennaGain": 16,
        "antennaBeamwidth": 30,
        "longitude": -98.4842,
        "height": 9.3,
        "heightType": "AGL",
        "latitude": 39.0119,
        "indoorDeployment": true
      },
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "measCapability": [],
      "userId": "test_user_id_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_a"
    },
    {
      "cbsdSerialNumber": "test_serial_number_c",
      "installationParam": {
        "antennaGain": -127,
        "antennaBeamwidth": 0,
        "longitude": -97.198805,
        "height": 4.5,
        "heightType": "AMSL",
        "latitude": 38.815291,
        "indoorDeployment": false
      },
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "measCapability": [],
      "userId": "test_user_id_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A",
      "fccId": "test_fcc_id_c"
    },
    {
      "cbsdSerialNumber": "test_serial_number_b",
      "measCapability": [],
      "userId": "test_user_id_b",
      "callSign": "callsign_b",
      "fccId": "test_fcc_id_b"
    }
  ],
  "expectedResponseCodesFirst": [
    [
      0
    ]
  ],
  "expectedResponseCodesSecond": [
    [
      103
    ],
    [
      102
    ],
    [
      0
    ]
  ],
  "relinquishmentRequestsSecond": [
    {},
    {
      "grantId": "REMOVE"
    },
    {}
  ]
}
