{
  "escSensors": [
    {
      "installationParam": {
        "antennaAzimuth": 271,
        "heightType": "AGL",
        "longitude": -100.25,
        "antennaGain": 16,
        "antennaBeamwidth": 30,
        "latitude": 38.8,
        "height": 9.3
      },
      "id": "esc_sensor/admin_0/esc_sensor_0"
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "installationParam": {
          "antennaAzimuth": 270,
          "heightType": "AGL",
          "longitude": -97.770094,
          "antennaGain": 16,
          "indoorDeployment": false,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "latitude": 39.139836,
          "height": 7.6
        },
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "fccId": "test_fcc_id_b",
        "cbsdSerialNumber": "test_serial_number_b",
        "cbsdCategory": "B"
      }
    ]
  },
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -98.4842,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 39.0119,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    },
    {
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "callSign": "callsign_b"
    },
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -97.198805,
        "antennaGain": -127,
        "indoorDeployment": false,
        "antennaBeamwidth": 0,
        "latitude": 38.815291,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    }
  ],
  "ppas": [
    {
      "terminated": false,
      "name": "PPA Zone 0",
      "zone": {
        "type": "FeatureCollection",
        "features": [
          {
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -97.23861694335938,
                    38.865374851611634
                  ],
                  [
                    -97.31964111328125,
                    38.7615795117574
                  ],
                  [
                    -97.16995239257811,
                    38.739088441876866
                  ],
                  [
                    -97.16171264648436,
                    38.86751337001198
                  ],
                  [
                    -97.23861694335938,
                    38.865374851611634
                  ]
                ]
              ]
            },
            "type": "Feature",
            "properties": {}
          }
        ]
      },
      "creator": "admin_0",
      "ppaInfo": {
        "ppaRegionType": "URBAN",
        "ppaExpirationDate": "2019-02-27T10:21:42Z",
        "ppaBeginDate": "2017-02-27T10:21:42Z",
        "palId": [
          "pal/02-2017/20041084200/1"
        ]
      },
      "usage": "PPA",
      "id": "zone/ppa/admin_0/pal/02-2017/20041084200/1/4523f4e63b84459d8d413ab5d6f18c3c"
    }
  ],
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000,
          "highFrequency": 3630000000
        }
      }
    }
  ],
  "palRecords ": [
    [
      {
        "license": {
          "licenseAreaExtent": "zone/census_tract/census/2010/20041084200",
          "licenseFrequencyChannelId": "1",
          "licenseId": "test_fcc_id_pal_0",
          "licenseDate": "2017-02-27T10:21:42Z",
          "licenseAreaIdentifier": "20041084200",
          "licenseExpiration": "2019-02-27T10:21:42Z"
        },
        "registrationInformation": {
          "callSign": "call_sign_pal_0",
          "frn": "test_fcc_frn_pal_0",
          "licenseConditions": "license_pal_0",
          "registrationDate": "2017-02-27T10:21:42Z"
        },
        "userId": "test_user_id_a",
        "licensee": "CBSD Operator No.1",
        "channelAssignment": {
          "primaryAssignment": {
            "lowFrequency": 3550000000.0,
            "highFrequency": 3560000000.0
          }
        },
        "licenseStatus": "VALID",
        "palId": "pal/02-2017/20041084200/1"
      }
    ]
  ],
  "sasHarness": {
    "url": "https://localhost:9003/v1.2",
    "serverCert": "F:\\GitHubTest\\Spectrum-Access-System\\src\\harness\\certs\\server.cert",
    "sasTHName": "SAS-TH-2",
    "serverKey": "F:\\GitHubTest\\Spectrum-Access-System\\src\\harness\\certs\\server.key"
  }
}