{
  "sasVersion": "v5.0",
  "userIds": [
    "test_user_id_a"
  ],
  "registrationRequests": [
    {
      "cbsdCategory": "A",
      "callSign": "callsign_a",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "measCapability": [],
      "userId": "test_user_id_a",
      "installationParam": {
        "indoorDeployment": true,
        "height": 9.3,
        "heightType": "AGL",
        "antennaBeamwidth": 30,
        "antennaGain": 16,
        "longitude": -98.4842,
        "latitude": 39.0119
      },
      "cbsdSerialNumber": "test_serial_number_a",
      "fccId": "test_fcc_id_a"
    }
  ],
  "fccIds": [
    [
      "test_fcc_id_a",
      47
    ]
  ]
}
