"""
    Google Maps Platform

    API Specification for Google Maps Platform  # noqa: E501

    The version of the OpenAPI document: 1.17.2
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from src.harness.api.google.google_client.api_client import ApiClient, Endpoint as _Endpoint
from src.harness.api.google.google_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from src.harness.api.google.google_client.model.street_view_response import StreetViewResponse


class StreetViewAPIApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.street_view_endpoint = _Endpoint(
            settings={
                'response_type': (file_type,),
                'auth': [
                    'ApiKeyAuth'
                ],
                'endpoint_path': '/maps/api/streetview',
                'operation_id': 'street_view',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://maps.googleapis.com",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'size',
                    'fov',
                    'heading',
                    'location',
                    'pano',
                    'pitch',
                    'radius',
                    'return_error_code',
                    'signature',
                    'source',
                ],
                'required': [
                    'size',
                ],
                'nullable': [
                ],
                'enum': [
                    'source',
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                    ('source',): {

                        "DEFAULT": "default",
                        "OUTDOOR": "outdoor"
                    },
                },
                'openapi_types': {
                    'size':
                        (str,),
                    'fov':
                        (float,),
                    'heading':
                        (float,),
                    'location':
                        (str,),
                    'pano':
                        (str,),
                    'pitch':
                        (float,),
                    'radius':
                        (float,),
                    'return_error_code':
                        (bool,),
                    'signature':
                        (str,),
                    'source':
                        (str,),
                },
                'attribute_map': {
                    'size': 'size',
                    'fov': 'fov',
                    'heading': 'heading',
                    'location': 'location',
                    'pano': 'pano',
                    'pitch': 'pitch',
                    'radius': 'radius',
                    'return_error_code': 'return_error_code',
                    'signature': 'signature',
                    'source': 'source',
                },
                'location_map': {
                    'size': 'query',
                    'fov': 'query',
                    'heading': 'query',
                    'location': 'query',
                    'pano': 'query',
                    'pitch': 'query',
                    'radius': 'query',
                    'return_error_code': 'query',
                    'signature': 'query',
                    'source': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'image/*'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.street_view_metadata_endpoint = _Endpoint(
            settings={
                'response_type': (StreetViewResponse,),
                'auth': [
                    'ApiKeyAuth'
                ],
                'endpoint_path': '/maps/api/streetview/metadata',
                'operation_id': 'street_view_metadata',
                'http_method': 'GET',
                'servers': [
                    {
                        'url': "https://maps.googleapis.com",
                        'description': "No description provided",
                    },
                ]
            },
            params_map={
                'all': [
                    'heading',
                    'location',
                    'pano',
                    'pitch',
                    'radius',
                    'return_error_code',
                    'signature',
                    'size',
                    'source',
                ],
                'required': [],
                'nullable': [
                ],
                'enum': [
                    'source',
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                    ('source',): {

                        "DEFAULT": "default",
                        "OUTDOOR": "outdoor"
                    },
                },
                'openapi_types': {
                    'heading':
                        (float,),
                    'location':
                        (str,),
                    'pano':
                        (str,),
                    'pitch':
                        (float,),
                    'radius':
                        (float,),
                    'return_error_code':
                        (bool,),
                    'signature':
                        (str,),
                    'size':
                        (str,),
                    'source':
                        (str,),
                },
                'attribute_map': {
                    'heading': 'heading',
                    'location': 'location',
                    'pano': 'pano',
                    'pitch': 'pitch',
                    'radius': 'radius',
                    'return_error_code': 'return_error_code',
                    'signature': 'signature',
                    'size': 'size',
                    'source': 'source',
                },
                'location_map': {
                    'heading': 'query',
                    'location': 'query',
                    'pano': 'query',
                    'pitch': 'query',
                    'radius': 'query',
                    'return_error_code': 'query',
                    'signature': 'query',
                    'size': 'query',
                    'source': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def street_view(
        self,
        size,
        **kwargs
    ):
        """street_view  # noqa: E501

        The Street View Static API lets you embed a static (non-interactive) Street View panorama or thumbnail into your web page, without the use of JavaScript. The viewport is defined with URL parameters sent through a standard HTTP request, and is returned as a static image.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.street_view(size, async_req=True)
        >>> result = thread.get()

        Args:
            size (str): Specifies the output size of the image in pixels. Size is specified as `{width}x{height}` - for example, `size=600x400` returns an image 600 pixels wide, and 400 high. 

        Keyword Args:
            fov (float): Determines the horizontal field of view of the image. The field of view is expressed in degrees, with a maximum allowed value of 120. When dealing with a fixed-size viewport, as with a Street View image of a set size, field of view in essence represents zoom, with smaller numbers indicating a higher level of zoom. Default is 90. . [optional]
            heading (float): Indicates the compass heading of the camera. Accepted values are from 0 to 360 (both values indicating North, with 90 indicating East, and 180 South). If no heading is specified, a value will be calculated that directs the camera towards the specified location, from the point at which the closest photograph was taken. . [optional]
            location (str): The point around which to retrieve place information. The Street View Static API will snap to the panorama photographed closest to this location. When an address text string is provided, the API may use a different camera location to better display the specified location. When a lat/lng is provided, the API searches a 50 meter radius for a photograph closest to this location. Because Street View imagery is periodically refreshed, and photographs may be taken from slightly different positions each time, it's possible that your `location` may snap to a different panorama when imagery is updated. . [optional]
            pano (str): A specific panorama ID. These are generally stable, though panoramas may change ID over time as imagery is refreshed. . [optional]
            pitch (float): Specifies the up or down angle of the camera relative to the Street View vehicle. This is often, but not always, flat horizontal. Positive values angle the camera up (with 90 degrees indicating straight up); negative values angle the camera down (with -90 indicating straight down). Default is 0. . [optional]
            radius (float): Sets a radius, specified in meters, in which to search for a panorama, centered on the given latitude and longitude. Valid values are non-negative integers. Default is 50 meters. . [optional]
            return_error_code (bool): Indicates whether the API should return a non `200 Ok` HTTP status when no image is found (`404 NOT FOUND`), or in response to an invalid request (400 BAD REQUEST). Valid values are `true` and `false`. If set to `true`, an error message is returned in place of the generic gray image. This eliminates the need to make a separate call to check for image availability. . [optional]
            signature (str): A digital signature used to verify that any site generating requests using your API key is authorized to do so. Requests that do not include a digital signature might fail. For more information, see [Get a Key and Signature](https://developers.google.com/maps/documentation/streetview/get-api-key). . [optional]
            source (str): Limits Street View searches to selected sources. Valid values are: * `default` uses the default sources for Street View; searches are not limited to specific sources. * `outdoor` limits searches to outdoor collections. Indoor collections are not included in search results. Note that outdoor panoramas may not exist for the specified location. Also note that the search only returns panoramas where it's possible to determine whether they're indoors or outdoors. For example, PhotoSpheres are not returned because it's unknown whether they are indoors or outdoors. . [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            file_type
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['size'] = \
            size
        return self.street_view_endpoint.call_with_http_info(**kwargs)

    def street_view_metadata(
        self,
        **kwargs
    ):
        """street_view_metadata  # noqa: E501

        The Street View Static API metadata requests provide data about Street View panoramas. Using the metadata, you can find out if a Street View image is available at a given location, as well as getting programmatic access to the latitude and longitude, the panorama ID, the date the photo was taken, and the copyright information for the image. Accessing this metadata allows you to customize error behavior in your application.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.street_view_metadata(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            heading (float): Indicates the compass heading of the camera. Accepted values are from 0 to 360 (both values indicating North, with 90 indicating East, and 180 South). If no heading is specified, a value will be calculated that directs the camera towards the specified location, from the point at which the closest photograph was taken. . [optional]
            location (str): The point around which to retrieve place information. The Street View Static API will snap to the panorama photographed closest to this location. When an address text string is provided, the API may use a different camera location to better display the specified location. When a lat/lng is provided, the API searches a 50 meter radius for a photograph closest to this location. Because Street View imagery is periodically refreshed, and photographs may be taken from slightly different positions each time, it's possible that your `location` may snap to a different panorama when imagery is updated. . [optional]
            pano (str): A specific panorama ID. These are generally stable, though panoramas may change ID over time as imagery is refreshed. . [optional]
            pitch (float): Specifies the up or down angle of the camera relative to the Street View vehicle. This is often, but not always, flat horizontal. Positive values angle the camera up (with 90 degrees indicating straight up); negative values angle the camera down (with -90 indicating straight down). Default is 0. . [optional]
            radius (float): Sets a radius, specified in meters, in which to search for a panorama, centered on the given latitude and longitude. Valid values are non-negative integers. Default is 50 meters. . [optional]
            return_error_code (bool): Indicates whether the API should return a non `200 Ok` HTTP status when no image is found (`404 NOT FOUND`), or in response to an invalid request (400 BAD REQUEST). Valid values are `true` and `false`. If set to `true`, an error message is returned in place of the generic gray image. This eliminates the need to make a separate call to check for image availability. . [optional]
            signature (str): A digital signature used to verify that any site generating requests using your API key is authorized to do so. Requests that do not include a digital signature might fail. For more information, see [Get a Key and Signature](https://developers.google.com/maps/documentation/streetview/get-api-key). . [optional]
            size (str): Specifies the output size of the image in pixels. Size is specified as `{width}x{height}` - for example, `size=600x400` returns an image 600 pixels wide, and 400 high. . [optional]
            source (str): Limits Street View searches to selected sources. Valid values are: * `default` uses the default sources for Street View; searches are not limited to specific sources. * `outdoor` limits searches to outdoor collections. Indoor collections are not included in search results. Note that outdoor panoramas may not exist for the specified location. Also note that the search only returns panoramas where it's possible to determine whether they're indoors or outdoors. For example, PhotoSpheres are not returned because it's unknown whether they are indoors or outdoors. . [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            StreetViewResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_host_index'] = kwargs.get('_host_index')
        return self.street_view_metadata_endpoint.call_with_http_info(**kwargs)

