{
  "registrationRequest": [
    {
      "callSign": "callsign_a",
      "installationParam": {
        "height": 9.3,
        "antennaBeamwidth": 30,
        "longitude": -97.31209973438831,
        "latitude": 38.76450497520652,
        "antennaGain": 16,
        "heightType": "AGL",
        "indoorDeployment": true
      },
      "cbsdSerialNumber": "test_serial_number_a",
      "userId": "test_user_id_a",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_a",
      "cbsdCategory": "A",
      "measCapability": []
    },
    {
      "callSign": "callsign_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "userId": "test_user_id_b",
      "fccId": "test_fcc_id_b",
      "measCapability": []
    },
    {
      "callSign": "callsign_c",
      "installationParam": {
        "height": 4.5,
        "antennaBeamwidth": 0,
        "longitude": -97.198805,
        "latitude": 38.815291,
        "antennaGain": -127,
        "heightType": "AMSL",
        "indoorDeployment": false
      },
      "cbsdSerialNumber": "test_serial_number_c",
      "userId": "test_user_id_c",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_c",
      "cbsdCategory": "A",
      "measCapability": []
    },
    {
      "callSign": "callsign_e",
      "installationParam": {
        "height": 2.6,
        "antennaBeamwidth": 20,
        "longitude": -99.923414,
        "latitude": 39.173912,
        "antennaGain": 93,
        "heightType": "AGL",
        "indoorDeployment": true
      },
      "cbsdSerialNumber": "test_serial_number_e",
      "userId": "test_user_id_e",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_e",
      "cbsdCategory": "A",
      "measCapability": []
    },
    {
      "callSign": "callsign_f",
      "installationParam": {
        "height": 3.4,
        "antennaBeamwidth": 60,
        "longitude": -97.19757454993042,
        "latitude": 38.75184689362409,
        "antennaGain": 90,
        "heightType": "AGL",
        "indoorDeployment": true
      },
      "cbsdSerialNumber": "test_serial_number_f",
      "userId": "test_user_id_f",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_f",
      "cbsdCategory": "A",
      "measCapability": []
    }
  ],
  "expectedResponseCodes": [
    [
      0
    ],
    [
      102
    ],
    [
      103
    ],
    [
      300
    ],
    [
      400
    ]
  ],
  "grantRequest": [
    {
      "cbsdId": 0,
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3560000000,
          "lowFrequency": 3550000000
        },
        "maxEirp": 10
      }
    },
    {
      "cbsdId": "REMOVE",
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        },
        "maxEirp": 10
      }
    },
    {
      "cbsdId": 2,
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3640000000
        },
        "maxEirp": 10
      }
    },
    {
      "cbsdId": 3,
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3600000000,
          "lowFrequency": 3450000000
        },
        "maxEirp": 10
      }
    },
    {
      "cbsdId": 4,
      "operationParam": {
        "operationFrequencyRange": {
          "highFrequency": 3560000000,
          "lowFrequency": 3550000000
        },
        "maxEirp": 10
      }
    }
  ],
  "ppa": {
    "ppaRecord": {
      "terminated": false,
      "name": "PPA Zone 0",
      "usage": "PPA",
      "id": "zone/ppa/admin_0/pal/02-2017/20041084200/1/f21737f9ed0e4c2b9708a692952b2a94",
      "ppaInfo": {
        "ppaRegionType": "URBAN",
        "ppaExpirationDate": "2019-02-20T13:31:53Z",
        "ppaBeginDate": "2017-02-20T13:31:53Z",
        "palId": [
          "pal/02-2017/20041084200/1"
        ]
      },
      "creator": "admin_0",
      "zone": {
        "features": [
          {
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -97.23861694335938,
                    38.865374851611634
                  ],
                  [
                    -97.31964111328125,
                    38.7615795117574
                  ],
                  [
                    -97.16995239257811,
                    38.739088441876866
                  ],
                  [
                    -97.16171264648436,
                    38.86751337001198
                  ],
                  [
                    -97.23861694335938,
                    38.865374851611634
                  ]
                ]
              ]
            },
            "properties": {},
            "type": "Feature"
          }
        ],
        "type": "FeatureCollection"
      }
    },
    "ppaClusterList": [
      0
    ],
    "palRecords": [
      {
        "license": {
          "licenseId": "test_fcc_id_pal_0",
          "licenseDate": "2017-02-20T13:31:53Z",
          "licenseFrequencyChannelId": "1",
          "licenseExpiration": "2019-02-20T13:31:53Z",
          "licenseAreaIdentifier": "20041084200",
          "licenseAreaExtent": "zone/census_tract/census/2010/20041084200"
        },
        "userId": "test_user_id_a",
        "licenseStatus": "VALID",
        "palId": "pal/02-2017/20041084200/1",
        "registrationInformation": {
          "frn": "test_fcc_frn_pal_0",
          "callSign": "call_sign_pal_0",
          "registrationDate": "2017-02-20T13:31:53Z",
          "licenseConditions": "license_pal_0"
        },
        "licensee": "CBSD Operator No.1",
        "channelAssignment": {
          "primaryAssignment": {
            "highFrequency": 3560000000,
            "lowFrequency": 3550000000
          }
        }
      }
    ]
  },
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "cbsdCategory": "B",
        "cbsdSerialNumber": "test_serial_number_b",
        "installationParam": {
          "height": 7.6,
          "antennaBeamwidth": 30,
          "longitude": -97.770094,
          "latitude": 39.139836,
          "antennaAzimuth": 270,
          "antennaGain": 16,
          "heightType": "AGL",
          "indoorDeployment": false,
          "antennaDowntilt": -90
        },
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "fccId": "test_fcc_id_b"
      }
    ]
  }
}