{
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "registrationData": [
          {
            "airInterface": {
              "radioTechnology": "E_UTRA"
            },
            "installationParam": {
              "antennaAzimuth": 270,
              "heightType": "AGL",
              "longitude": -97.770094,
              "antennaGain": 16,
              "indoorDeployment": false,
              "antennaBeamwidth": 30,
              "antennaDowntilt": -90,
              "latitude": 39.139836,
              "height": 7.6
            },
            "measCapability": [],
            "fccId": "test_fcc_id_b",
            "cbsdSerialNumber": "test_serial_number_b",
            "cbsdCategory": "B"
          }
        ]
      }
    ]
  },
  "iterationData": [
    {
      "dpaActivationList": [
        {
          "dpaId": "test_dpa_id1",
          "frequencyRange": {
            "lowFrequency": 3650000000,
            "highFrequency": 3660000000
          }
        },
        {
          "dpaId": "test_dpa_id2",
          "frequencyRange": {
            "lowFrequency": 3660000000,
            "highFrequency": 3670000000
          }
        }
      ],
      "protectedEntities": {
        "ppaRecords": {
          "terminated": false,
          "name": "PPA Zone 0",
          "zone": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -97.23861694335938,
                        38.865374851611634
                      ],
                      [
                        -97.31964111328125,
                        38.7615795117574
                      ],
                      [
                        -97.16995239257811,
                        38.739088441876866
                      ],
                      [
                        -97.16171264648436,
                        38.86751337001198
                      ],
                      [
                        -97.23861694335938,
                        38.865374851611634
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {}
              }
            ]
          },
          "creator": "admin_0",
          "ppaInfo": {
            "ppaExpirationDate": "2019-03-08T19:14:08Z",
            "ppaBeginDate": "2017-03-08T19:14:08Z",
            "palId": [
              "pal/03-2017/20041084200/1"
            ]
          },
          "usage": "PPA",
          "id": "zone/ppa/admin_0/pal/03-2017/20041084200/1/8276a9e5f3184cf3bc51003213fd0fc5"
        },
        "palRecords": [
          {
            "license": {
              "licenseAreaExtent": "zone/census_tract/census/2010/20041084200",
              "licenseFrequencyChannelId": "1",
              "licenseId": "test_fcc_id_pal_0",
              "licenseDate": "2017-03-08T19:14:08Z",
              "licenseAreaIdentifier": "20041084200",
              "licenseExpiration": "2019-03-08T19:14:08Z"
            },
            "registrationInformation": {
              "callSign": "call_sign_pal_0",
              "frn": "test_fcc_frn_pal_0",
              "licenseConditions": "license_pal_0",
              "registrationDate": "2017-03-08T19:14:08Z"
            },
            "userId": "test_user_1",
            "licensee": "CBSD Operator No.1",
            "channelAssignment": {
              "primaryAssignment": {
                "lowFrequency": 3550000000.0,
                "highFrequency": 3560000000.0
              }
            },
            "licenseStatus": "VALID",
            "palId": "pal/03-2017/20041084200/1"
          }
        ],
        "escRecords": [
          {
            "installationParam": {
              "antennaAzimuth": 271,
              "heightType": "AGL",
              "longitude": -98.4842,
              "antennaGain": 16,
              "antennaBeamwidth": 30,
              "latitude": 39.0119,
              "height": 9.3
            },
            "id": "esc_sensor/admin_0/esc_sensor_0"
          }
        ]
      },
      "sasTestHarnessData": [
        {
          "cbsdRecords": [
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "id": "SAMPLE_ID_76336",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_g/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "heightType": "AGL",
                  "longitude": -98.4842,
                  "antennaGain": 16,
                  "indoorDeployment": true,
                  "antennaBeamwidth": 30,
                  "latitude": 39.0119,
                  "height": 9.3
                },
                "measCapability": [],
                "fccId": "test_fcc_id_g",
                "callSign": "callsign_a",
                "cbsdCategory": "A"
              }
            }
          ]
        },
        {
          "cbsdRecords": [
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "id": "SAMPLE_ID_15412",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                },
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3650000000.0,
                      "highFrequency": 3660000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3650000000.0,
                      "highFrequency": 3660000000.0
                    }
                  },
                  "id": "SAMPLE_ID_34219",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_j/1584f2ceda10e1c0f29ad72cccdb339f90aecf40",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "antennaAzimuth": 90,
                  "heightType": "AGL",
                  "longitude": -99.022535,
                  "antennaGain": -30,
                  "indoorDeployment": false,
                  "antennaBeamwidth": 68,
                  "antennaDowntilt": -45,
                  "latitude": 39.190944,
                  "height": 8.9
                },
                "measCapability": [],
                "fccId": "test_fcc_id_j",
                "callSign": "callsign_d",
                "cbsdCategory": "B"
              }
            },
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 366000000.0,
                      "highFrequency": 3670000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 366000000.0,
                      "highFrequency": 3670000000.0
                    }
                  },
                  "id": "SAMPLE_ID_49426",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_k/1a57a6a304f29ccc1a5b814d661a8f8ef235bb9d",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "heightType": "AGL",
                  "longitude": -99.923414,
                  "antennaGain": 93,
                  "indoorDeployment": true,
                  "antennaBeamwidth": 20,
                  "latitude": 39.173912,
                  "height": 2.6
                },
                "measCapability": [],
                "fccId": "test_fcc_id_k",
                "callSign": "callsign_e",
                "cbsdCategory": "A"
              }
            }
          ]
        }
      ],
      "cbsdRequests": [
        {
          "registrationRequests": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "heightType": "AGL",
                "longitude": -98.4842,
                "antennaGain": 16,
                "indoorDeployment": true,
                "antennaBeamwidth": 30,
                "latitude": 39.0119,
                "height": 9.3
              },
              "measCapability": [],
              "fccId": "test_fcc_id_a",
              "userId": "test_user_id_a",
              "cbsdSerialNumber": "test_serial_number_a",
              "callSign": "callsign_a",
              "cbsdCategory": "A"
            },
            {
              "fccId": "test_fcc_id_b",
              "userId": "test_user_id_b",
              "cbsdSerialNumber": "test_serial_number_b",
              "callSign": "callsign_b"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3620000000.0,
                  "highFrequency": 3630000000.0
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3630000000.0,
                  "highFrequency": 3640000000.0
                }
              }
            }
          ]
        },
        {
          "registrationRequests": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "heightType": "AMSL",
                "longitude": -97.198805,
                "antennaGain": -127,
                "indoorDeployment": false,
                "antennaBeamwidth": 0,
                "latitude": 38.815291,
                "height": 4.5
              },
              "measCapability": [],
              "fccId": "test_fcc_id_c",
              "userId": "test_user_id_c",
              "cbsdSerialNumber": "test_serial_number_c",
              "callSign": "callsign_c",
              "cbsdCategory": "A"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3650000000.0,
                  "highFrequency": 3660000000.0
                }
              }
            }
          ]
        }
      ],
      "dpaDeactivationList": []
    },
    {
      "dpaActivationList": [
        {
          "dpaId": "test_dpa_id3",
          "frequencyRange": {
            "lowFrequency": 3670000000,
            "highFrequency": 3680000000
          }
        }
      ],
      "protectedEntities": {
        "fssRecords": [
          {
            "deploymentParam": [
              {
                "installationParam": {
                  "antennaAzimuth": 270,
                  "heightType": "AGL",
                  "longitude": -100.1,
                  "antennaGain": 16,
                  "antennaBeamwidth": 30,
                  "antennaDowntilt": -90,
                  "latitude": 39.2291,
                  "height": 7.6
                },
                "operationParam": {
                  "operationFrequencyRange": {
                    "lowFrequency": 3650000000.0,
                    "highFrequency": 4200000000.0
                  }
                }
              }
            ],
            "type": "FSS",
            "id": "incumbent/ibfs/0"
          }
        ],
        "gwpzRecords": [
          {
            "record": {
              "deploymentParam": [
                {
                  "operationParam": {
                    "operationFrequencyRange": {
                      "lowFrequency": 3650000000.0,
                      "highFrequency": 3700000000.0
                    }
                  }
                }
              ],
              "type": "PART_90",
              "id": "incumbent/uls/0"
            },
            "zone": {
              "type": "FeatureCollection",
              "features": [
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -99.75,
                          39.05
                        ],
                        [
                          -99.65,
                          39.05
                        ],
                        [
                          -99.65,
                          39.15
                        ],
                        [
                          -99.75,
                          39.15
                        ],
                        [
                          -99.75,
                          39.05
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {}
                }
              ]
            }
          }
        ]
      },
      "sasTestHarnessData": [
        {
          "cbsdRecords": [
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "id": "SAMPLE_ID_66365",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_h/b8a0c47f2aed5f2b0222c35cd9b91cff745d0c46",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "antennaAzimuth": 270,
                  "heightType": "AGL",
                  "longitude": -97.770094,
                  "antennaGain": 16,
                  "indoorDeployment": false,
                  "antennaBeamwidth": 30,
                  "antennaDowntilt": -90,
                  "latitude": 39.139836,
                  "height": 7.6
                },
                "measCapability": [],
                "fccId": "test_fcc_id_h",
                "callSign": "callsign_b",
                "cbsdCategory": "B"
              }
            },
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "id": "SAMPLE_ID_22647",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_i/33c81df2998eb5d587cea7dede0d35d034e79bcd",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "heightType": "AMSL",
                  "longitude": -97.198805,
                  "antennaGain": -127,
                  "indoorDeployment": false,
                  "antennaBeamwidth": 0,
                  "latitude": 38.815291,
                  "height": 4.5
                },
                "measCapability": [],
                "fccId": "test_fcc_id_i",
                "callSign": "callsign_c",
                "cbsdCategory": "A"
              }
            }
          ]
        },
        {
          "cbsdRecords": [
            {
              "grants": [
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3620000000.0,
                      "highFrequency": 3630000000.0
                    }
                  },
                  "id": "SAMPLE_ID_91099",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                },
                {
                  "terminated": false,
                  "requestedOperationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "channelType": "GAA",
                  "operationParam": {
                    "maxEirp": 10,
                    "operationFrequencyRange": {
                      "lowFrequency": 3630000000.0,
                      "highFrequency": 3640000000.0
                    }
                  },
                  "id": "SAMPLE_ID_23514",
                  "grantExpireTime": "2020-03-07T19:14:08Z"
                }
              ],
              "id": "cbsd/test_fcc_id_l/544fce4ed19d1269c8d53a0a5cae11083d9cea0e",
              "registration": {
                "airInterface": {
                  "radioTechnology": "E_UTRA"
                },
                "installationParam": {
                  "heightType": "AGL",
                  "longitude": -100.253004,
                  "antennaGain": 90,
                  "indoorDeployment": true,
                  "antennaBeamwidth": 60,
                  "latitude": 38.815291,
                  "height": 3.4
                },
                "measCapability": [],
                "fccId": "test_fcc_id_l",
                "callSign": "callsign_f",
                "cbsdCategory": "A"
              }
            }
          ]
        }
      ],
      "cbsdRequests": [
        {
          "registrationRequests": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "antennaAzimuth": 90,
                "heightType": "AGL",
                "longitude": -99.022535,
                "antennaGain": -30,
                "indoorDeployment": false,
                "antennaBeamwidth": 68,
                "antennaDowntilt": -45,
                "latitude": 39.190944,
                "height": 8.9
              },
              "measCapability": [],
              "fccId": "test_fcc_id_d",
              "userId": "test_user_id_d",
              "cbsdSerialNumber": "test_serial_number_d",
              "callSign": "callsign_d",
              "cbsdCategory": "B"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 366000000.0,
                  "highFrequency": 3670000000.0
                }
              }
            }
          ]
        },
        {
          "registrationRequests": [
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "heightType": "AGL",
                "longitude": -99.923414,
                "antennaGain": 93,
                "indoorDeployment": true,
                "antennaBeamwidth": 20,
                "latitude": 39.173912,
                "height": 2.6
              },
              "measCapability": [],
              "fccId": "test_fcc_id_e",
              "userId": "test_user_id_e",
              "cbsdSerialNumber": "test_serial_number_e",
              "callSign": "callsign_e",
              "cbsdCategory": "A"
            },
            {
              "airInterface": {
                "radioTechnology": "E_UTRA"
              },
              "installationParam": {
                "heightType": "AGL",
                "longitude": -100.253004,
                "antennaGain": 90,
                "indoorDeployment": true,
                "antennaBeamwidth": 60,
                "latitude": 38.815291,
                "height": 3.4
              },
              "measCapability": [],
              "fccId": "test_fcc_id_f",
              "userId": "test_user_id_f",
              "cbsdSerialNumber": "test_serial_number_f",
              "callSign": "callsign_f",
              "cbsdCategory": "A"
            }
          ],
          "grantRequests": [
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3620000000.0,
                  "highFrequency": 3630000000.0
                }
              }
            },
            {
              "operationParam": {
                "maxEirp": 10,
                "operationFrequencyRange": {
                  "lowFrequency": 3630000000.0,
                  "highFrequency": 3640000000.0
                }
              }
            }
          ]
        }
      ],
      "dpaDeactivationList": [
        {
          "dpaId": "test_dpa_id1",
          "frequencyRange": {
            "lowFrequency": 3650000000,
            "highFrequency": 3660000000
          }
        }
      ]
    }
  ],
  "sasTestHarnessConfigs": [
    {
      "serverCert": "certs/server.cert",
      "hostName": "localhost",
      "sasTestHarnessName": "SAS-TH-1",
      "serverKey": "certs/server.key",
      "caCert": "certs/ca.cert",
      "port": 9001
    },
    {
      "serverCert": "certs/server.cert",
      "hostName": "localhost",
      "sasTestHarnessName": "SAS-TH-2",
      "serverKey": "certs/server.key",
      "caCert": "certs/ca.cert",
      "port": 9002
    }
  ],
  "deltaIap": 2,
  "domainProxyConfigs": [
    {
      "cert": "certs/dp_1_client.cert",
      "key": "certs/dp_1_client.key"
    },
    {
      "cert": "certs/dp_2_client.cert",
      "key": "certs/dp_2_client.key"
    }
  ]
}