{
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AGL",
        "longitude": -98.4842,
        "antennaGain": 16,
        "indoorDeployment": true,
        "antennaBeamwidth": 30,
        "latitude": 39.0119,
        "height": 9.3
      },
      "measCapability": [],
      "fccId": "test_fcc_id_a",
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A"
    }
  ],
  "expectedRelinquishResponseCodes": [
    0
  ],
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000.0,
          "highFrequency": 3630000000.0
        }
      }
    }
  ],
  "fccIds": [
    [
      "test_fcc_id_a",
      47
    ]
  ],
  "expectedGrantResponseCodes": [
    0,
    400
  ],
  "userIds": [
    "test_user_id_a"
  ],
  "expectedHBResponseCodes": [
    500,
    501
  ],
  "expectedResponseCodes": [
    0
  ],
  "dpa_movelist_db": {
    "url": "https://github.com/Wireless-Innovation-Forum/Scheduled-DPA",
    "type": "SCHEDULED_DPA"
  }
}