{
  "sasTestHarnessConfigDumpRecords": {
    "cbsdRecords": [
      {
        "grants": [
          {
            "terminated": false,
            "channelType": "GAA",
            "operationParam": {
              "maxEirp": 10,
              "operationFrequencyRange": {
                "lowFrequency": 3645000000,
                "highFrequency": 3655000000
              }
            },
            "id": "SAMPLE_ID_40459",
            "grantExpireTime": "2018-03-01T23:48:15Z"
          }
        ],
        "id": "cbsd/test_fcc_id_a/d7a9fe1be84243ebdd50c1359cf0630c3d273350",
        "registration": {
          "airInterface": {
            "radioTechnology": "E_UTRA"
          },
          "installationParam": {
            "heightType": "AGL",
            "longitude": -98.4842,
            "antennaGain": 16,
            "indoorDeployment": true,
            "antennaBeamwidth": 30,
            "latitude": 39.0119,
            "height": 9.3
          },
          "measCapability": [],
          "fccId": "test_fcc_id_a",
          "userId": "test_user_id_a",
          "callSign": "callsign_a",
          "cbsdCategory": "A"
        }
      }
    ]
  },
  "registrationRequestC1": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -98.4842,
      "antennaGain": 16,
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.0119,
      "height": 9.3
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A"
  },
  "grantRequestG1": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3620000000,
        "highFrequency": 3630000000
      }
    }
  },
  "sasTestHarnessConfig": {
    "serverCert": "certs/server.cert",
    "sasVersion": "v1.2",
    "hostName": "localhost",
    "sasTestHarnessName": "SAS-TestHarness-1",
    "serverKey": "certs/server.key",
    "caCert": "certs/ca.cert",
    "port": 9001
  }
}