{
  "fccIdsBlacklist": [
    "test_fcc_id_a"
  ],
  "userIds": [
    "test_user_id_a",
    "test_user_id_b"
  ],
  "reregistrationRequests": [
    {
      "cbsdSerialNumber": "test_serial_number_a",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_a",
      "installationParam": {
        "antennaBeamwidth": 30,
        "height": 9.3,
        "indoorDeployment": true,
        "latitude": 39.0119,
        "antennaGain": 16,
        "longitude": -98.4842,
        "heightType": "AGL"
      },
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "measCapability": [],
      "cbsdCategory": "A"
    },
    {
      "cbsdSerialNumber": "test_serial_number_b",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_b",
      "installationParam": {
        "antennaDowntilt": -90,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 270,
        "height": 7.6,
        "indoorDeployment": false,
        "latitude": 39.139836,
        "antennaGain": 16,
        "longitude": -97.770094,
        "heightType": "AGL"
      },
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "measCapability": [],
      "cbsdCategory": "B"
    }
  ],
  "expectedResponseCodes": [
    [
      101
    ],
    [
      0
    ]
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "cbsdSerialNumber": "test_serial_number_b",
        "installationParam": {
          "antennaDowntilt": -90,
          "antennaBeamwidth": 30,
          "antennaAzimuth": 270,
          "height": 7.6,
          "indoorDeployment": false,
          "latitude": 39.139836,
          "antennaGain": 16,
          "longitude": -97.770094,
          "heightType": "AGL"
        },
        "cbsdCategory": "B",
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "fccId": "test_fcc_id_b"
      }
    ]
  },
  "registrationRequests": [
    {
      "cbsdSerialNumber": "test_serial_number_a",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_a",
      "installationParam": {
        "antennaBeamwidth": 30,
        "height": 9.3,
        "indoorDeployment": true,
        "latitude": 39.0119,
        "antennaGain": 16,
        "longitude": -98.4842,
        "heightType": "AGL"
      },
      "callSign": "callsign_a",
      "userId": "test_user_id_a",
      "measCapability": [],
      "cbsdCategory": "A"
    },
    {
      "cbsdSerialNumber": "test_serial_number_b",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "fccId": "test_fcc_id_b",
      "installationParam": {
        "antennaDowntilt": -90,
        "antennaBeamwidth": 30,
        "antennaAzimuth": 270,
        "height": 7.6,
        "indoorDeployment": false,
        "latitude": 39.139836,
        "antennaGain": 16,
        "longitude": -97.770094,
        "heightType": "AGL"
      },
      "callSign": "callsign_b",
      "userId": "test_user_id_b",
      "measCapability": [],
      "cbsdCategory": "B"
    }
  ],
  "fccIds": [
    [
      "test_fcc_id_a",
      47
    ],
    [
      "test_fcc_id_b",
      47
    ]
  ]
}