{
  "registrationRequests": [
    {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "heightType": "AMSL",
        "longitude": -97.198805,
        "antennaGain": -127,
        "indoorDeployment": false,
        "antennaBeamwidth": 0,
        "latitude": 38.815291,
        "height": 4.5
      },
      "measCapability": [],
      "fccId": "test_fcc_id_c",
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A"
    }
  ],
  "expectedRelinquishResponseCodes": [
    0
  ],
  "grantRequests": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "lowFrequency": 3620000000.0,
          "highFrequency": 3630000000.0
        }
      }
    }
  ],
  "fccIds": [
    [
      "test_fcc_id_c",
      47
    ]
  ],
  "expectedGrantResponseCodes": [
    0,
    400
  ],
  "userIds": [
    "test_user_id_c"
  ],
  "expectedHBResponseCodes": [
    0
  ],
  "expectedResponseCodes": [
    0
  ],
  "gwbl_db": {
    "url": "https://github.com/Wireless-Innovation-Forum/GWBL-DB",
    "type": "GWBL"
  },
  "fss_db": {
    "url": "https://github.com/Wireless-Innovation-Forum/FSS-DB",
    "type": "FSS"
  }
}