{
  "conditionalRegistrationData": {
    "registrationData": {
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "antennaAzimuth": 270,
        "heightType": "AGL",
        "longitude": -96.517524,
        "antennaGain": 16,
        "indoorDeployment": false,
        "antennaBeamwidth": 30,
        "antennaDowntilt": -90,
        "latitude": 39.646722,
        "height": 7.6
      },
      "measCapability": [],
      "fccId": "test_fcc_id_b",
      "cbsdSerialNumber": "test_serial_number_b",
      "cbsdCategory": "B"
    }
  },
  "grantRequestG2": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3625000000,
        "highFrequency": 3635000000
      }
    }
  },
  "grantRequestG1": {
    "operationParam": {
      "maxEirp": 10,
      "operationFrequencyRange": {
        "lowFrequency": 3625000000,
        "highFrequency": 3635000000
      }
    }
  },
  "exzRecord": {
    "zone": {
      "type": "FeatureCollection",
      "features": [
        {
          "geometry": {
            "type": "Polygon",
            "coordinates": [
              [
                [
                  -96.9296265,
                  39.8380682
                ],
                [
                  -97.0834351,
                  39.4828454
                ],
                [
                  -95.8364868,
                  39.542176
                ],
                [
                  -96.0617065,
                  39.9518589
                ],
                [
                  -96.4901733,
                  39.9771201
                ],
                [
                  -96.9296265,
                  39.8380682
                ]
              ]
            ]
          },
          "type": "Feature",
          "properties": {}
        }
      ]
    },
    "frequencyRange": {
      "lowFrequency": 3625000000,
      "highFrequency": 3635000000
    }
  },
  "fakeDatabaseInfo": {
    "url": "http://localhost:9090/fakedatabase/exclusionZone",
    "name": "Fake_DB",
    "databaseFile": "fakedatabase/exclusionZone/exclusion_zone_db.json"
  },
  "exzFrequencyRangeF2": {
    "lowFrequency": 3680000000,
    "highFrequency": 3690000000
  },
  "registrationRequestC2": {
    "measCapability": [],
    "fccId": "test_fcc_id_b",
    "userId": "test_user_id_b",
    "cbsdSerialNumber": "test_serial_number_b",
    "callSign": "callsign_b"
  },
  "registrationRequestC1": {
    "airInterface": {
      "radioTechnology": "E_UTRA"
    },
    "installationParam": {
      "heightType": "AGL",
      "longitude": -97.059024,
      "antennaGain": 16,
      "indoorDeployment": true,
      "antennaBeamwidth": 30,
      "latitude": 39.534646,
      "height": 9.3
    },
    "measCapability": [],
    "fccId": "test_fcc_id_a",
    "userId": "test_user_id_a",
    "cbsdSerialNumber": "test_serial_number_a",
    "callSign": "callsign_a",
    "cbsdCategory": "A"
  },
  "exzOverlapFrequencyRangeF1": {
    "lowFrequency": 3575000000,
    "highFrequency": 3635000000
  },
  "exzOverlapFrequencyRangeF2": {
    "lowFrequency": 3885000000,
    "highFrequency": 3695000000
  }
}