{
  "deregistrationRequest": [
    {
      "cbsdId": "Test-Invalid-cbsd-string"
    },
    {
      "cbsdId": "REMOVE"
    },
    {}
  ],
  "grantRequest": [
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        }
      }
    },
    {
      "operationParam": {
        "maxEirp": 10,
        "operationFrequencyRange": {
          "highFrequency": 3630000000,
          "lowFrequency": 3620000000
        }
      }
    }
  ],
  "heartbeatRequest": [
    {
      "operationState": "GRANTED"
    },
    {
      "operationState": "GRANTED"
    },
    {
      "operationState": "GRANTED"
    }
  ],
  "conditionalRegistrationData": {
    "registrationData": [
      {
        "cbsdCategory": "B",
        "fccId": "test_fcc_id_b",
        "cbsdSerialNumber": "test_serial_number_b",
        "airInterface": {
          "radioTechnology": "E_UTRA"
        },
        "installationParam": {
          "antennaAzimuth": 270,
          "longitude": -97.770094,
          "height": 7.6,
          "indoorDeployment": false,
          "antennaGain": 16,
          "antennaBeamwidth": 30,
          "antennaDowntilt": -90,
          "heightType": "AGL",
          "latitude": 39.139836
        }
      }
    ]
  },
  "registrationRequest": [
    {
      "fccId": "test_fcc_id_a",
      "callSign": "callsign_a",
      "cbsdCategory": "A",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "longitude": -98.4842,
        "height": 9.3,
        "indoorDeployment": true,
        "antennaGain": 16,
        "antennaBeamwidth": 30,
        "heightType": "AGL",
        "latitude": 39.0119
      },
      "measCapability": [],
      "userId": "test_user_id_a",
      "cbsdSerialNumber": "test_serial_number_a"
    },
    {
      "fccId": "test_fcc_id_c",
      "callSign": "callsign_c",
      "cbsdCategory": "A",
      "airInterface": {
        "radioTechnology": "E_UTRA"
      },
      "installationParam": {
        "longitude": -97.198805,
        "height": 4.5,
        "indoorDeployment": false,
        "antennaGain": -127,
        "antennaBeamwidth": 0,
        "heightType": "AMSL",
        "latitude": 38.815291
      },
      "measCapability": [],
      "userId": "test_user_id_c",
      "cbsdSerialNumber": "test_serial_number_c"
    },
    {
      "fccId": "test_fcc_id_b",
      "callSign": "callsign_b",
      "measCapability": [],
      "userId": "test_user_id_b",
      "cbsdSerialNumber": "test_serial_number_b"
    }
  ],
  "expectedResponseCodes": [
    [
      103
    ],
    [
      102
    ],
    [
      0
    ]
  ]
}
